@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&display=swap");

body {
  position: relative;
  font-family: inter;
  background-color: black;
  height: 100%;
  text-decoration: none;
}
.container {
  max-width: 1260px;
  margin: auto;
  color: white;
  background-color: black;
}
.header {
  height: 213px;
}

.header__text {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__fimiblaq {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #f9f5ff;
}
.header__about {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #f9f5ff;
}
.header__projects {
  padding-left: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #f9f5ff;
}
.header__contact {
  padding-left: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #f9f5ff;
}
.header__about:hover,
.header__projects:hover,
.header__contact:hover {
  color: #cfccd3;
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact__text {
  max-width: 610px;
}

.name {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #fafbff;
  margin-bottom: 24px;
}
.position {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: #fafbff;
  margin-bottom: 12px;
}
.skills {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fafbff;
  margin-bottom: 48px;
}
.btn {
  width: 184px;
  height: 48px;
  background: #f9f5ff;
  border-radius: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #0a0119;
}
.btn:hover {
  background: #c7c3cc;
  cursor: pointer;
}

.gettoknowme {
  text-align: center;
  padding: 93px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 28px;
  color: #fafbff;
}

.contact__photo_2 {
  width: 348px;
}

/* __________________1_____________________ */
/* Block start */

.wrapper {
  display: flex;
  margin: 0 -10px;
  margin-bottom: 63px;
}

.block {
  width: 33.33%;
  padding: 0 10px;
}

/* Block end */

/* Services start */

/* Ховер!!! вызов */
.services__item:hover .services__content-item {
  opacity: 1;
}

.services__item:hover .services__content:after {
  opacity: 0.6;
}

.services__item {
  text-decoration: none;
}

.services__content {
  height: 397px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* черный ховер */
.services__content:after {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  transition: opacity 0.4s ease; /*медленная анимация ховера*/
}

/* +, круг, текст ховер */
.services__content-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.4s ease; /*медленная анимация ховера*/
}

.services__title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.23em;
  color: #000; /*ссылку сделать черной*/
  text-transform: uppercase;
}

.services__text {
  position: absolute;
  left: 99px;
  bottom: 122px;

  position: absolute;
  width: 210px;
  height: 104px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #fafbff;
}
.text1 {
  color: #0a0119;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;

  background: #f9f5ff;
  border: 2px solid #f6f6fe;
  border-radius: 8px;

  margin-bottom: 24px;
}
.text2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;

  border: 2px solid #f6f6fe;
  border-radius: 8px;
}
.project__name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fafbff;
  margin-bottom: 13px;
  border: none;
  text-decoration: none;
}
.languages {
  display: flex;
}
.language__text {
  padding: 8px 16px;
  margin: 0 8px;
  text-align: center;
  border: 2px solid #f6f6fe;
  border-radius: 8px;
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fafbff;
}
.language__text:hover {
  background-color: rgba(65, 60, 60, 0.995);
  cursor: pointer;
}
/* Services end */
/* __________________2_____________________ */

.contactme {
  margin-top: 144px;
  text-align: center;
  color: #fafbff;
}
.contactme__text1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 32px;
}
.contactme__text2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 28px;
  margin-bottom: 32px;
}
.contactme__text3 {
  font-weight: 500;
  font-size: 48px;
  line-height: 28px;
  margin-bottom: 225px;
}

/* FOOTER START */
.footer__menu {
  display: flex;
  justify-content: space-between;
}
.footer__insta {
  margin-left: 80px;
  width: 24px;
  height: 24px;
  background: url(instagram.png) no-repeat;
}

.footer__linkedin {
  margin-left: 80px;
  width: 24px;
  height: 24px;
  background: url(Linkedin.png) no-repeat;
}
.footer__github {
  margin-left: 80px;
  width: 24px;
  height: 24px;
  background: url(github.png) no-repeat;
}
.footer__twitter {
  margin-left: 80px;
  width: 24px;
  height: 24px;
  background: url(twitter.png) no-repeat;
}
/* FOOTER END */
/* COPYRIGHT START */
.copyright {
  display: flex;
  margin-top: 80px;
  margin-bottom: 139px;
}
.copyright__label {
  background: url(copyright.png) no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.copyright__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #f9f5ff;
}
/* COPYRIGHT END */
